.statistics {
  width: 425px;
  margin: auto;
  border: solid 1px rgb(211, 221, 221);
}

.title {
  font-size: 26px;
  color: #333333;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 25px;
}

.stat_list {
  height: 60px;
  display: flex;
  list-style: none;
}

.item {
  width: 90px;
  border: solid 1px teal;
}

.label {
  font-size: 18px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
}

.percentage {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 18px;
  display: flex;
  justify-content: space-evenly;
}
